container_commands:
01_collectstatic:
command: "django-admin.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "appink.settings"
    PYTHONPATH: "/opt/python/current/app/appink:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "appink/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "/static/"
