option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: appink/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles           
    option_name: /static/
    value: static/
  - namespace: DJANGO_SETTINGS_MODULE           
    option_name: appink.settings
